{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>published: {{ post.published_date }}</p>
        </div>
        <hr>
        {% for comment in post.comments.all %}
            {% if comment.approved_comment %}
                <div class="comment">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
